/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	
	
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-background-color: #91AA9D;
	-fx-text-fill: #000;
}

.root {
 	-fx-background-color: #3E606F;

}

#TimelineBuilder{
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
	-fx-fill: #D1DBBD;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

#borderP {
	-fx-background-color: #3E606F;
}

#vbox {
	-fx-background-color: #3E606F;
}

.scroll-bar:horizontal ,
.scroll-bar:vertical
{
    -fx-background-color:#D1DBBD;

}

/* The increment and decrement button CSS class of scrollbar */
.increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(gray,80%);
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #91AA9D;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}
